/** Minimal Commerce Website **/

body {
	color: #666;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	background: #fff url(/images/background.png) repeat-x 0 0;
	line-height: 18px;	
	text-align: center;
}

div#login div#panelLogin,div#login {
margin: 0 auto;
padding-bottom: 18px;
width: 456px
}


div#login input#txtLogin,div#login input#txtPassword,div#login input.textbox340 {
	background: #fafafa;
	border: 1px solid #eee;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 3px;
	width: 440px
	}
  
input.textbox300 {
	background: #fafafa;
	border: 1px solid #eee;
	font-size: 13px;
	line-height: 13px;
	margin: 0;
	padding: 3px;
	width: 300px
}


div#login {
	margin:0px auto 0;
	width:546px;
}

div#cap-top {
	background:transparent url(/images/cap-top.png) no-repeat;
	height:8px;
	width:546px;
}

div#cap-body {
background: transparent url(/images/cap-bg.png) repeat-y;
width: 545px
}

div#cap-bottom {
background: transparent url(/images/cap-bottom.png) no-repeat;
height: 0;
width: 546px
}

#footer {
	color: #38290b;
	font-size: 11px;
	height: 100px;
	padding: 18px;
	text-align: center;
}

div#fieldWithErrors{
  width: 300px;
  text-align:left;
  background: #fafafa;
  padding: 0;
  margin: 0;
}
