<h1>Minimal Effort</h1>
<div id="wrapper" class="clear">
  <div id="main">
    <h2>Minimal Commerce, Minimal Effort</h2>
    <p>
      Implementing an entire off the shelf shopping cart system would inevitably restrict the use and configuration of your application, and / or force you to switch to such an application undermining the ability for you to simply 'add a cart system' to your existing application. With this in mind, MinimalCart assumes at least a basic understanding of building rails applications and is designed with the active developer in mind.
    </p>
    <h3>Usage</h3>
    <p>
      As implied above, images are deliberately left out for a basic product in favor of your favorite __ plugin [such as attachment_fu]. Extending the Product model is, of course, a critical polymorphic requirement.
    </p>
  </div>
  <div id="side">
    <div class="prologue">
      <h2>Minimal Commerce:
        <br/>
        Get in touch.
      </h2>
      <p>
        Send us your email address.
        <br/>
        We will
        keep you up-to-date!
      </p>
      <label for="tf1">
        Name: 
      </label>
      <br/>
      <input type="text" id="tf1" value="" />
      <br/>
      <label for="tf2">
        Email: 
      </label>
      <br/>
      <input type="text" id="tf2" value="" />
      <br/>
      <br/>
      <input type="button" value="Send" />
    </div>
  </div>
</div>
