<div id="page_bottom" class="clear">
  <p>
    Application undermining the ability for you to simply 'add a cart system' to your existing application. With this in mind, MinimalCart assumes at least a basic understanding of building rails applications and is designed with the active developer in mind.
  </p>
</div>
